/* define constants up here */
:root {
  --produce-gray: #E4E4E4;
  --name-gray: #333;
  --button-dl-bg: #40AFFF;

  --first-color-main: #40AFFF;
  --first-color-sub: #81E1FF;
  --first-color-sub2: #0080CB;
  --second-color-main: #F2FFB3;
  --second-color-sub: #FFFFE6;
  --second-color-sub2: #BFCC83;
  --color-gray: #909090;
  --color-gray-second: #F2F2F2;

  --checked-blue: #0080CBCC;

  /* ranking border colors */
  --a-rank: #F7ABC5;
  --b-rank: #F47F22;
  --c-rank: #F6D12F;
  --d-rank: #42B96D;
  --f-rank: #A6A6A4;
  --x-rank: #000000;
  --no-rank: #707070;

  /* font */
  --font-family: 'Noto Sans JP', 'Open Sans', sans-serif;
}

/* Styles for banner */
#top-banner {
  background: radial-gradient(circle, #FFFFFF, var(--first-color-sub) 80%);
  padding: 3px;

  /* these will be unnecessary once we get the banner image */
  color: white;
  text-align: center;
}

#banner-image {
  width: 40px;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

#banner-title {
  font-family: var(--font-family);
  font-size: 14px;
  margin: 0;
  display: inline-block;
}

#banner-subtitle {
  font-family: var(--font-family);
  color: var(--first-color-sub2);
  display: inline-block;
}

/*app*/
/* controller: select -> matching -> selected*/
.select #target-boards {
  display: none;
}

#target-boards-result {
  display: none;
}

.selected #target-boards-result {
  display: block;
}

#target-boards{
  display: none;
}

.matching #target-boards{
  display: block;
}

/*controller*/
#controller{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
}

/*match*/
#target-boards-progress-status{
  margin: 5px;
}
#target-boards-match{
  display: flex;
  flex-direction: row;
}

.target-boards-container{
  position: relative;
  padding: 5px;
}

.target-boards-container .profile {
  position: absolute;
  bottom: 0;
  text-align: right;
  margin: 5px;
  right: 0;
  width: inherit;
  bottom: 5px;
  background-color: rgba(46, 46, 46, 0.4);
  color: var(--color-gray-second);
}

.target-boards-container:hover{
  background-color: var(--second-color-sub);
}

.target-boards-container:hover img {
  filter: opacity(90%);
}

.target-boards-container .image_large img{
  width: 45vw;
  max-width: 400px;
}

#target-boards-right div{
  overflow-wrap: break-word;
}

/*result*/
#target-boards-result{
  width: 90vw;
  max-width: 800px;
}
